<!--Banner-->
  <div class="banner">
    <div class="bg-color">
      <div class="container">
        <div class="row">
          <div class="banner-text text-center">
            <div class="text-border">
              <h2 class="text-dec">Ciência & Tecnologia</h2>
            </div>
            <div class="intro-para text-center quote">
              <p class="big-text">Programas Institucionais de Bolsas de Iniciação da UENF</p>
              <p class="small-text">O PIBIC-UENF, desde 1995, tem incentivado estudantes de graduação à participação em projetos de pesquisa de relevância nos
              contextos regional, nacional e internacional. A alta qualidade dos trabalhos desenvolvidos neste Programa resultou na concessão
              do Prêmio Destaque do Ano na Iniciação Científica, conferido pelo CNPq na categoria Mérito Institucional, nos anos de 2003
              e 2009.</p>
              <a href="#footer" class="btn get-quote"><b>CONTATO</b></a>
            </div>
            <a href="#feature" class="mouse-hover">
              <div class="mouse"></div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ Banner-->