
  <!--Feature-->
  <section id="feature" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="header-section text-center">
          <h2>Sobre o PIBIT</h2>
          <hr class="bottom-line">
        </div>

        <div class="row">

          <div class="col-md-6">
          
            O Programa Institucional de Bolsas de Iniciação Científica da UENF - PIBIC foi originalmente criado pelo CNPq. Desde 1995
            na UENF o programa vem sendo gerenciado pela Pró-Reitoria de Pesquisa e Pós Gaduação. O CNPq concede uma quota de bolsas
            e a Instituição recebedora concede em contrapartida outro número de bolsas, que chamamos de bolsa UENF.
          
          
          </div>
          <div class="col-md-6">
          
            Os estudantes da UENF possuem a tradição de entrar em contato com a pesquisa já nos primeiros períodos de graduação, adicionalmente,
            os professores são os principais estimuladores desse processo.
          
          </div>
        </div>
         

        <div class="row">

            <div class="col-md-6 padding-top">


              O Programa Institucional de Bolsas de Iniciação em Desenvolvimento Tecnológico e Inovação - PIBITI foi criado em 2006 com
              o objetivo de estimular estudantes do ensino técnico e superior ao desenvolvimento e transferência de novas tecnologias e
              inovação. Tanto as bolsas PIBIC como as PIBIT possuem período de vigência de doze meses e são concedidas através de seleção
              após divulgação de um Edital.

            </div>

            <div class="col-md-6">
              
              Os Programas de Pós-Graduação da UENF consideram que a passagem pela Iniciação Científica (IC) é um quesito muito importante,
              a ser levado em consideração durante as avaliações dos processos de seleção de aluno. Geralmente, os estudantes que fazem
              IC apresentam um diferencial em termos de desempenho acadêmico e científico, proporcionando a redução do Tempo Médio d Titulação
              com a melhoria da qualidade da Pós-Graduação.
              

            </div> 
        </div>


      </div>
    </div>
  </section>
  <!--/ feature-->