<a href="#" class="brand-logo"><%= image_tag  "logo.png" %></a>
 <nav>
   <ul>
      <li>
        <%= link_to 'Criar Usuário', new_usuario_registration_path %>
      </li>
      <li>
        <%= link_to 'Acessar', new_usuario_session_path %>
      </li>
   </ul>
  </nav>