<footer>
  <div class="pull-right">
    SISPICT - Desenvolvido por <a href="http://about.me/rodolfopeixoto" target="_blank">Rodolfo Peixoto</a> e Annabell
  </div>
  <div class="clearfix"></div>
</footer>