<h1>Editar Laboratorio</h1>

<%= render 'form', predio: @predio, laboratorio: @laboratorio %>

<%= link_to 'Visualizar', [:backoffice, @predio, @laboratorio] %> |
<%= link_to 'Voltar', [:backoffice, @predio, @laboratorio] %>
